.dark {
  background: $dark-color-dark;
  color: $light-color-dark;

  h1, h2, h3, h4, h5, h6 {
    color: $lightest-color-dark
  }

  a {
    color: $primary-color-dark

    &:hover {
      color: $lightest-color-dark
    }
  }

  code {
    color: rgba($light-color-dark, .8)
  }

  ::selection {
    background: rgba($light-color-dark, .25)
  }
  ::-moz-selection {
    background: rgba($light-color-dark, .25)
  }

  .tag {
    background: rgba(255, 255, 255, .1)

    &:hover {
      background: rgba(255, 255, 255, .3)
    }
  }

  .app-header {
    background: $darkest-color-dark
  }

  .app-header-avatar {
    border: .5rem solid $primary-color-dark
  }

  .app-header-social {
    color: $lightest-color-dark
  }

  .app-header-title {
    color: $lightest-color-dark
  }

  .page-item {
    &.active {
      .page-link {
        color: $lightest-color-dark;
        background: $primary-color-dark
      }
    }
  }

  .post-title {
    color: $lightest-color-dark
  }

  .post-content {
    & > pre,
    .highlight > pre,
    .highlight > div {
      border-left: .4em solid rgba($primary-color-dark, .8)
    }

    blockquote {
      border-left: .4em solid rgba($primary-color-dark, .8);
      background: $darkest-color-dark
    }
  }
}
